body {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  background: linear-gradient(90deg, blue, purple, red);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  list-style: none;
}

a {
  color: white;
  padding: 10px;;
}

h1 {
  text-align: center;
}